@model AppointmentViewModel

@{
    ViewData["Title"] = "Appointment";
}

<h2>Случай</h2>

<form asp-controller="Appointment" asp-action="UpdateAppointment" id="updateappointmentform" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Patient.PersonId)
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-danger" asp-action="GetPatient" asp-controller="Patient" asp-route-patientId="">Отменить</a>
            <input id="postappointment" onclick="post()" type="button" class="btn btn-success" value="Сохранить" />
        </div>
    </div>
    <div class="row">
        <h3>Случай</h3>
        <div class="form-group">
            <label asp-for="Workers" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.WorkerId, Model.Workers, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="Outcomes" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.OutcomeId, Model.Outcomes, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        @Html.EditorFor(m => m.QuestionnaireTill75, "../Shared/_QuestionnaireTill75Partial.cshtml")
    </div>
    <div class="row">
        <h1>Анализы</h1>
        @for (int i = 0; i < Model.ServicesResults.Count; i++)
        {
            <hr />
            @Html.HiddenFor(m => m.ServicesResults[i].ServiceTypeId)
            @Html.EditorFor(m => m.ServicesResults[i], "../Shared/_ServiceResultPartial.cshtml")
            @*<div class="form-group">
                @Html.HiddenFor(m => m.ServicesResults[i].ServiceTypeId)
                <label class="control-label col-md-12">@Model.ServicesResults[i].Service.Name</label>
                <div class="form-group">
                    <label asp-for="@Model.ServicesResults[i].Result" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="@Model.ServicesResults[i].Result" class="form-control" />
                        @Html.ValidationMessageFor(m => Model.ServicesResults[i].Result, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ServicesResults[i].TubeNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="@Model.ServicesResults[i].TubeNumber" class="form-control" />
                        @Html.ValidationMessageFor(m => Model.ServicesResults[i].Result, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ServicesResults[i].Workers" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.ServicesResults[i].WorkerId, Model.ServicesResults[i].Workers, new { @class = "form-control" })
                    </div>
                </div>
            </div>*@
        }
    </div>
</form>

@section Scripts{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
            function post(){
                var url = "@Url.Action("UpdateAppointment", "Appointment")";

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $('#updateappointmentform').serialize(), //your form name.it takes all the values of model
                    dataType: 'json',
                    success: function(result) {
                        console.log(result);
                    }
                });
            };
    </script>
}

