@using System.Globalization
@model IEnumerable<PatientViewModel>

@{
    ViewData["Title"] = "Patients";
}

<h2>Пациенты</h2>

<div class="container">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <hr/>
        <a asp-controller="Patient" asp-action="CreatePatient" class="btn btn-success">Создать пациента</a>
        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Пол</th>
                <th>День рождения</th>
            </tr>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Person.LastName</td>
                    <td>@patient.Person.FirstName</td>
                    <td>@patient.Person.MiddleName</td>
                    <td>@patient.Person.Gender</td>
                    <td>@patient.Person.BirthDate.Date.ToString("dd MMMM yyyy",new CultureInfo("ru-RU"))</td>
                    <td><a asp-controller="Patient" asp-action="GetPatient" asp-route-patientId="@patient.PersonId" class="btn btn-primary">Показать</a></td>
                    <td><a asp-controller="Patient" asp-action="DeletePatient" asp-route-patientId="@patient.PersonId" class="btn btn-danger">Удалить</a></td>
                </tr>
            }
        </table>
    </div>
</div>
