@model IEnumerable<PositionTypeViewModel>

@{
    ViewData["Title"] = "Positions";
}

<h2>Должности</h2>

<div class="container">
    <div class="row">
        <hr/>
        <a asp-controller="PositionType" asp-action="CreatePositionType" class="btn btn-success">Создавать должность</a>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <table class="table">
            <tr>
                <th>Номер</th>
                <th>Название</th>
            </tr>
            @{
                int i = 0;
                foreach (var position in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@position.Name</td>
                        <td><a asp-controller="PositionType" asp-action="GetPositionType" asp-route-id="@position.Id" class="btn btn-primary">Показать</a></td>
                        <td><a asp-controller="PositionType" asp-action="DeletePositionType" asp-route-positionId="@position.Id" class="btn btn-danger">Удалить</a></td>
                    </tr>
                    i++;
                }
            }
        </table>
    </div>
</div>