@model QuestionnaireTill75ViewModel


<div class="form-group">
    <label class="control-label col-md-12">1. Говорил ли вам врач когда-либо, что у Вас имеется</label>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneOne" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="firstQuestion" type="checkbox" asp-for="QuestionOneOne" class="form-control"/>
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneOneOne" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="firstQuestionAddition" disabled="disabled" type="checkbox" asp-for="QuestionOneOneOne" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneTwo" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionOneTwo" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneThree" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionOneThree" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneFour" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionOneFour" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneFive" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionOneFive" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneSix" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="sixQuestion" type="checkbox" asp-for="QuestionOneSix" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneSixOne" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="sixQuestionAddition" disabled="disabled" type="checkbox" asp-for="QuestionOneSixOne" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneSeven" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionOneSeven" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneEight" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionOneEight" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneNine" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="nineQuestion" type="checkbox" asp-for="QuestionOneNine" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneNineOne" class="control-label col-md-5"></label>
    <div class="col-md-5">
        <input id="nineQuestionAddition" disabled="disabled" type="text" asp-for="QuestionOneNineOne" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneTen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="tenQuestion" type="checkbox" asp-for="QuestionOneTen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionOneTenOne" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="tenQuestionAddition" disabled="disabled" type="checkbox" asp-for="QuestionOneTenOne" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionThree" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionThree" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionFour" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionFour" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionFive" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionFive" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionSix" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionSix" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionSeven" class="control-label col-md-5"></label>
    <div class="col-md-2">
        @Html.DropDownListFor(m => m.SelectedQuestionSevenAnswer, Model.QuestionSeven, new {@class = "form-control"})
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionEight" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionEight" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionNine" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionNine" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionTen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionEleven" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionEleven" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwelve" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionTwelve" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionThirteen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionThirteen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionFourteen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionFourteen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionFifteen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionFifteen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionSixteen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionSixteen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionSeventeen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionSeventeen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionEighteen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionEighteen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionNineteen" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input id="nineteenQuestion" type="checkbox" asp-for="QuestionNineteen" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwenty" class="control-label col-md-5"></label>
    <div class="col-md-7">
        <input id="twentyQuestionAddition" disabled="disabled" type="number" asp-for="QuestionTwenty" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentyOne" class="control-label col-md-5"></label>
    <div class="col-md-7">
        @Html.DropDownListFor(m => m.SelectedQuestionTwentyOneAnswer, Model.QuestionTwentyOne, new { @class = "form-control" })
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentyTwo" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionTwentyTwo" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentyThree" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionTwentyThree" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentyFour" class="control-label col-md-5"></label>
    <div class="col-md-1">
        <input type="checkbox" asp-for="QuestionTwentyFour" class="form-control" />
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentyFive" class="control-label col-md-5"></label>
    <div class="col-md-7">
        @Html.DropDownListFor(m => m.SelectedQuestionTwentyFiveAnswer, Model.QuestionTwentyFive, new {@class = "form-control"})
    </div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentySix" class="control-label col-md-5"></label>
    <div class="col-md-7">
        @Html.DropDownListFor(m => m.SelectedQuestionTwentySixAnswer, Model.QuestionTwentySix, new { @class = "form-control" })
    </div>
    <div class="col-md-12"></div>
</div>
<div class="form-group">
    <label asp-for="@Model.QuestionTwentySeven" class="control-label col-md-5"></label>
    <div class="col-md-7">
        @Html.DropDownListFor(m => m.SelectedQuestionTwentySevenAnswer, Model.QuestionTwentySeven, new { @class = "form-control" })
    </div>
    <div class="col-md-12"></div>
</div>