@model WorkerViewModel

@{
    ViewData["Title"] = "CreateWorker";
}

<h2>Создание врача</h2>

<form asp-controller="Worker" asp-action="CreateWorker" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="@Model.Person.LastName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="text" asp-for="@Model.Person.LastName" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.FirstName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Person.FirstName" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.MiddleName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Person.MiddleName" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.Gender" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Person.Gender, new SelectList(Enum.GetValues(typeof(Gender)), new { @class = "form-control" }))
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.BirthDate" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="date" asp-for="Person.BirthDate" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.INN" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Person.INN" placeholder="XXXXXXXXXXXXX" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.INN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.SNILS" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Person.SNILS" placeholder="XXX-XXX-XXX-XX" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.SNILS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.PassportNumber" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="number" asp-for="Person.PassportNumber" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.PassportNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.PassportSeries" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="number" asp-for="Person.PassportSeries" class="form-control" />
                @Html.ValidationMessageFor(m => m.Person.PassportSeries, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Person.PassportIssuePlaces" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Person.SelectedPassportIssuePlaceId, Model.Person.PassportIssuePlaces, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PositionsList" class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SelectedPosition, Model.PositionsList, new { @class = "form-control"})
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Сохранить" />
            <a asp-controller="Worker" asp-action="Workers" class="btn btn-danger">Отменить</a>
        </div>
    </div>
</form>
